@inject CurriculumService curriculumService;

@page "/"
@    using System.Data;
@    using Syncfusion.DocIO.DLS;
    using PlanningAndAssessmentLib.Services;

<PageTitle>Planning and Assessment Organiser</PageTitle>

<PlanningAndAssessmentBlazor.Planner.Components.YearPlanner></PlanningAndAssessmentBlazor.Planner.Components.YearPlanner>

@*<p>@content</p>*@

@code {
    private string content;
    protected async override Task OnInitializedAsync()
    {
        curriculumService.GetCurriculumData();


    }
}