@inject CurriculumService _curriculumService;

@page "/"
@using System.Data;

<PageTitle>Planning and Assessment Organiser</PageTitle>

<PlanningAndAssessmentBlazor.Planner.Components.YearPlanner></PlanningAndAssessmentBlazor.Planner.Components.YearPlanner>

@*<p>@content</p>*@

@code {
    private string content;
    protected async override Task OnInitializedAsync()
    {
        await _curriculumService.GetCurriculumData();
    }
}