@page "/"

@inject CurriculumService curriculumService;
@inject CurriculumController curriculumController;

@using System.Data;
@using PlanningAndAssessmentLib.Services;
@using Syncfusion.DocIO.DLS;

<PageTitle>Planning and Assessment Organiser</PageTitle>


@if (done)
{
    <label>Curriculum Saved</label>
}

<PlanningAndAssessmentBlazor.Planner.Components.YearPlanner></PlanningAndAssessmentBlazor.Planner.Components.YearPlanner>


@code {
    private bool done = false;
    List<Subject> Curriculum = new();

    protected async override Task OnInitializedAsync()
    {
        
    }

}