
@*WIP for when I come back to do the year planner. This will act as a table row for each of the subjects in each term.
Should contain:
    The subject name | A list of topic headings | If in edit mode - a delete button (with confirmation).

The topic names are to be determined later once the term and week planners are done as v9 of the curriculum has done away with useful topic headings*@


@if(Subject is null) {
    <div class="table-row">
        <Button OnClickCallback=AddSubject>Add subject</Button>
    </div>
}
else {
    <div class="table-row">
        <div class="table-cell">@Subject.Name</div>
        <div class="table-cell">Test cell</div>
    </div>

}

@code {
    [Parameter]
    public Subject? Subject { get; set; }



    private void AddSubject()
    {

    }
}
